.theme--light.v-tabs > .v-tabs-bar .v-tab--disabled, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-btn, .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon {
  color: rgba(0,0,0,.3)!important;
  text-decoration:none!important
}

a.v-tab{
  text-decoration:none!important
}

.children-fill-height .v-window__container{
  height:100%!important
}