<template>
  <v-container>
    <v-alert
      text
      dense
      color="info"
      icon="info"
      border="left"
    >
      configurações em desenvolvimento...
    </v-alert>
  </v-container>
</template>

<script>
// import { mapState } from 'vuex'

export default {
  // name: 'Config',
  data: () => ({
  }),
  computed: {
    // ...mapState({
    //   user: (state) => state.user.data,
    // })
  },
  watch: {
  },
  created () {

  },
  mounted () {
  }
}
</script>
