<template>
  <v-container
    class="b-red w-100 pa-3"
    v-bind="$attrs"
    v-on="$listeners"
  />
</template>

<script>
// import { mapState } from 'vuex'

export default {
  computed: {
    // ...mapState({
    //   user: (state) => state.user.data,
    //   permissions: (state) => state.user.permissions
    // })
  },
  watch: {
  },
  created () {
  },
  mounted () {
  }
}
</script>
