<template>
  <v-app
    id="inspire"
  >
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <div class="fill-height d-flex flex-column">
        <z-menu />
        <v-spacer />
        <div class="text-center">
          <v-btn
            class="text"
            color="error"
            @click="logout"
          >
            <v-icon>close</v-icon>sair
          </v-btn>
        </div>
      </div>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer" />

      <v-toolbar-title>
        Sala do Empreendedor Virtual - {{ _city.name }}
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container
        fluid
        class="py-4 fill-height"
      >
        <router-view
          class="container"
          style="height:100%"
        />
      </v-container>
    </v-main>
    <v-footer app>
    <!-- -->
    </v-footer>
    <z-overlay />
    <input
      id="z-copier"
      class="z-copier"
      type="text"
      readonly
    >
  </v-app>
</template>

<script>
import dayjs from 'dayjs'
import LocalizedFormat from 'dayjs/plugin/localizedFormat'
import relativeTime from 'dayjs/plugin/relativeTime'
import ptBr from 'dayjs/locale/pt-br'

export default {
  props: {
    data: { type: Object, default () { return {} } }
  },
  data: () => ({
    drawer: null
  }),
  computed: {
    _city () {
      return (this.data && this.data.user && this.data.user.city) || {}
    }
  },
  created () {
    this.updateLocale(this.locale)

    this.$store.commit('user/set', this.data.user)
    this.$store.commit('config/set', {
      index: 'appUrl',
      value: this.data.appUrl
    })
    globalThis.axios.get('dashboard/permissions').then(({ data }) => {
      this.$store.commit('user/setPermissions', data.success ? data.data : [])
    })
      .catch(() => {
        this.$store.commit('user/setPermissions', [])
      })

    this.$store.dispatch('city/load', { force: true })
      .then(ret => {
        console.log('z - cidades carregadas', ret)
      })
      .catch(err => {
        console.log('z - erro no carregamento das cidades', err)
      })

    this.$store.dispatch('category/load')
      .then(ret => {
        console.log('z - categorias carregadas', ret)
      })
      .catch(err => {
        console.log('z - erro no carregamento das categorias', err)
      })
  },
  mounted () {
  },
  methods: {
    updateLocale (l) {
      dayjs.extend(LocalizedFormat)
      dayjs.extend(relativeTime)
      dayjs.locale(ptBr)
    },
    logout () {
      globalThis.axios.post('/logout')
        .then(() => {
          location.href = '/login'
        })
        .catch(errr => {
          console.log('erro no lugout', errr)
        })
    }
  }
}
</script>
