<template>
  <v-container>
    <v-img
      contain
      max-height="150"
      width="80%"
      src="images/admin/logo-topo-dashboard.png"
      class="ma-2 mx-auto"
    />
    <v-divider />
    <v-list>
      <!-- <v-list-item>
        <v-list-item-avatar class="mx-auto">
          <v-img src="https://cdn.vuetifyjs.com/images/john.png" />
        </v-list-item-avatar>
      </v-list-item> -->

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6 text-center">
            {{ user.name }}
          </v-list-item-title>
          <v-list-item-subtitle class="text-center">
            {{ user.email }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-divider />
    <v-list
      nav
      dense
    >
      <v-list-item-group
        v-model="selectedItem"
        color="primary"
        mandatory
      >
        <v-list-item
          v-for="(item) in permissions"
          :key="item.id"
          :to="{name:item.alias}"
        >
          <v-list-item-icon>
            <v-icon>{{ item.ico }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.name" />
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data: () => ({
    selectedItem: null
  }),
  computed: {
    ...mapState({
      user: (state) => state.user.data,
      permissions: (state) => state.user.permissions
        .sort((a, b) => a.order - b.order)
    })
  },
  watch: {
    selectedItem (n, o) {
    }
  },
  created () {

  },
  mounted () {
    // this.selectedItem = 1
    // console.log('>>>', this.permissions)
  }
}
</script>
