/* Add here all your CSS customizations */

#header .header-nav-main nav > ul > li > a:hover,
#header .header-nav-main nav > ul > li > a.active {
    background-color: #94B4E4!important;
    color:#444!important;
}
#header .header-nav-main nav > ul > li > a{
    color:#444!important;
    font-size:16px!important;
}

#header .header-icon{
    border:1px blue solid;
    font-size:24px;
    padding:0 3px;
}

#header .header-icon.icon-whatsapp{
    color:green
}
