#header .header-nav.header-nav-links.header-nav-light-text nav > ul > li > a,
#header .header-nav.header-nav-line.header-nav-light-text nav > ul > li > a {
    color: #333;
}

#header .header-nav.header-nav-links.header-nav-light-text nav > ul > li > a:hover,
 #header .header-nav.header-nav-line.header-nav-light-text nav > ul > li > a:hover {
    color: #0088CC;
}


.tabs.tabs-simple .nav-tabs > li .nav-link,
 .tabs.tabs-simple .nav-tabs > li .nav-link:hover,
  .tabs.tabs-simple .nav-tabs > li .nav-link:focus{
      padding:15px 20px;
      font-size: 15px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: .5em 0;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
        background: none!important;
    border:none;
  }

  .partners-item{
    background-repeat:no-repeat;
    background-position:center center;
    background-size:80% auto;
    height:200px
  }
