<template>
  <div class="b-blue">
    não pode ser
  </div>
</template>

<script>
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZTeste',
  mixins: [BaseComponent],
  inheritAttrs: false,
  props: {
  },
  data () {
    return {
      tooltip: false
    }
  },
  computed: {
  },
  beforeCreate () {
  },
  created () {
  },
  mounted () {
  },
  methods: {
  }
}
</script>
