$sizes: 1, 3, 5;
$colors: red, blue, green,purple,
white,orange,lime,tomato,cyan;

@each $c in $colors { 
  .b-#{"" + $c} {
    border: 1px $c solid !important;
  }
}

@each $s in $sizes { 
  @each $c in $colors { 
    .b-#{$s}-#{"" + $c} {
      border: #{$s}px $c solid !important;
    }
  }
}

.z-copier{
  opacity:0;
  position:absolute;
  z-index:-999
}