//custom components MB Scroll
$border: #e9ecf2;
$activebg:#fcfbe4;
$hoverbg:#f8f8f8;
$hoverfg:#555;
$activefg:#009dfd;
$fg:#777;
$rowgridborder:#afd7ff;
$rowgridopacity:.7;
$rowgridtransition:.1s;

@import "components/z-scroll-table";
@import "components/z-scroll-table-header";
@import "components/z-scroll-table-row";
@import "components/z-scroll-table-grid-block";
