<template>
  <v-container>
    <!-- <v-alert
      text
      dense
      color="error"
      icon="error"
      border="left"
    >
      dashboard em desenvolvimento...
    </v-alert> -->
  </v-container>
</template>

<script>

export default {
  name: 'DashPage',
  data: () => ({
  }),
  computed: {
  },
  watch: {
  },
  created () {

  },
  mounted () {
  }
}
</script>
