<template>
  <div class="fill-height d-flex flex-column">
    <div>
      <h3 class="my-2">
        <strong>&nbsp;</strong>
      </h3>
      <v-row>
        <v-col class="cols-12 col-sm-8">
          <v-row>
            <v-col class="cols-12 col-sm-6">
              <z-field
                v-bind="Object.assign(forms.main.fields.city_id,{
                  items:_cityList
                })"
              />
            </v-col>
            <v-col class="cols-12 col-sm-6">
              <z-field
                v-bind="Object.assign(forms.main.fields.categories,{
                  items:_categoryList
                })"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col class="cols-12 col-sm-4">
          <z-field
            v-bind="forms.main.fields.name"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="cols-12 col-sm-1">
          <z-field
            v-bind="Object.assign(mainFields.icon,{
              items:_icons
            })"
          >
            <template #selection="{ item }">
              <v-icon class="mx-auto">
                {{ item }}
              </v-icon>
            </template>
            <template #item="{ item }">
              <v-icon class="mx-auto">
                {{ item }}
              </v-icon>
            </template>
          </z-field>
        </v-col>
        <v-col class="cols-11">
          <z-field
            v-bind="forms.main.fields.description"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="cols-12 col-sm-8">
          <z-field
            v-bind="forms.main.fields.url"
          />
        </v-col>
        <v-col class="cols-12 col-sm-4">
          <v-row>
            <v-col class="cols-12 col-sm-6">
              <z-field
                v-bind="forms.main.fields.new_window"
              />
            </v-col>
            <v-col class="cols-12 col-sm-6">
              <z-field
                v-bind="forms.main.fields.broken_report"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <v-spacer />
    <z-form-actions
      :editing="isEditing"
      v-on="_formsActionsListeners"
    />
  </div>
</template>

<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import FormsContainer from '~/mixins/FormsContainer'
import ZField from '~/classes/ZField'
import ZSelect from '~/classes/ZSelect'
import ZUrl from '~/classes/ZUrl'
import { icons } from '~/plugins/themes/icons'
import { manageErrorBag } from '~/helpers/z-helpers'
import { mapGetters } from 'vuex' // mapGetters

export default {
  mixins: [FormsContainer],
  data: () => ({
    categoryList: []
  }),
  computed: {
    ...mapGetters({
      cityId: 'user/cityId',
      _cityList: 'city/listToSelect'
    }),
    _categoryList () {
      return this.$store
        .getters['category/listToSelect']()
    },
    _icons () {
      return icons || []
    }
  },
  created () {
    this.forms = {
      main: new ZVirtualForm({
        fields: {
          city_id: new ZSelect({
            label: 'Município',
            cType: 'v-autocomplete',
            required: true,
            returnItemValue: true,
            // resetIgnore: true,
            defaultValue: () => null
          }),
          categories: new ZSelect({
            label: 'Categoria(s) do Link',
            cType: 'v-autocomplete',
            required: true,
            clearable: true,
            multiple: true,
            resetIgnore: true,
            returnItemValue: true
          }),
          name: new ZField({
            label: 'Título do link',
            required: true,
            counter: 40,
            maxLength: 40
          }),
          description: new ZField({
            label: 'Descrição'
          }),
          url: new ZUrl({
            label: 'Url do Link',
            required: true
            // created () {
            //   this.set('https://mail.google.com/mail/u/0/#inbox')
            // }
          }),
          new_window: new ZSelect({
            label: 'Abrir em:',
            required: true,
            returnItemValue: true,
            cType: 'v-select',
            items: [
              { text: 'Mesma Janela', value: false },
              { text: 'Nova Janela', value: true }
            ],
            defaultValue: () => true
          }),
          broken_report: new ZSelect({
            label: 'Reportar link quebrado:',
            required: true,
            cType: 'v-select',
            returnItemValue: true,
            items: [
              { text: 'Sim', value: true },
              { text: 'Não', value: false }
            ],
            defaultValue: () => true
          }),
          icon: new ZSelect({
            label: 'Icone',
            cType: 'v-select',
            dense: true,
            required: true,
            resetIgnore: true,
            defaultValue: () => 'link'
          })
        }
      })
    }
  },
  methods: {
    validate () {
      this.mainForm.validate().then(_mainData => {
        const fullData = Object.assign({}, _mainData)

        if (this.mainForm.editing) {
          this.update(fullData)
        } else {
          this.store(fullData)
        }
      })
        .catch(() => {
          console.log('cai aqui???')
        })
    },
    async store (ret) {
      return globalThis.axios.post('dashboard/items/store', ret)
        .then(({ data }) => {
          if (data.success) {
            this.onStoreSuccess(data.data)
          }
        })
        .catch(err => {
          manageErrorBag(err, this.mainFields)
          this.onStoreFail(err)
        })
    },
    async update (ret) {
      return globalThis.axios
        .post('dashboard/items/update', Object.assign({}, ret, {
          updateId: this.mainForm.editing.id
        }))
        .then((d) => {
          if (d.data.success) {
            this.onUpdateSuccess(d.data.data)
          }
        })
        .catch(err => {
          console.log('ERRRR:: ', err.response.data)
          manageErrorBag(err, this.mainFields)
          this.onUpdateFail(err)
        })
    }

  }
}
</script>
