<template>
  <v-menu
    v-model="value"
    transition="slide-x-transition"
    :open-on-hover="openOnHover"
    :min-width="minWidth"
    :close-on-content-click="false"
    :right="!left"
    :left="!right"
    :offset-y="offsetY"
    nudge-top="10"
    v-bind.sync="$attrs"
  >
    <template #activator="{ on }">
      <!-- Botão de ativação -->
      <slot name="button">
        <!-- não está funcionando o slot-->
        <v-btn
          :class="`${btnClass}`"
          small
          icon
          :color="iconColor"
          :disabled="!hasButtons"
          v-on="on"
        >
          <v-icon
            center
            light
          >
            {{ icon }}
          </v-icon>
        </v-btn>
      </slot>
    </template>
    <v-list
      dense
      class="py-0"
    >
      <v-list-item-group
        v-model="active"
        color="red"
      >
        <v-list-item
          v-for="(item, index) in mergedButtons"
          :key="index"
          :disabled="item.disabled || item.disableFilter()"
          :visible="item.visible"
          @click.stop="preClick(item)"
        >
          <!-- componente a ser exibido no menu-item -->
          <slot
            v-if="
              item.confirm === false ||
                (item.confirm && !item.confirm.status)
            "
            slot="default"
            name="menu-item"
          >
            <!-- `<v-list-item-icon></v-list-item-icon><v-list-item-content></v-list-item-content>` -->
            <v-list-item-icon>
              <v-icon
                :style="[
                  {
                    color: item.disabled || item.disableFilter()
                      ? '#ccc'
                      : dynamicColor(item)
                  }
                ]"
              >
                {{ dynamicIcon(item) }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{
                  dynamicTitle(item)
                }}
              </v-list-item-title>
            </v-list-item-content>
          </slot>
          <slot
            v-else
            slot="default"
            name="menu-item"
          >
            <v-list-item-icon>
              <v-icon :color="item.confirm.color">
                {{
                  item.confirm.icon || dynamicIcon(item)
                }}
              </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{
                  item.confirm.text || 'Confirma?'
                }}
              </v-list-item-title>
            </v-list-item-content>
          </slot>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-menu>
  <!-- </div> -->
</template>
<script>
import BaseComponent from '~/mixins/BaseComponent'
import { isFunction } from '~/helpers/z-helpers'

export default {
  name: 'ZActionsButton',
  mixins: [BaseComponent],
  props: {
    // habilita a confirmação para o delete
    confirmDelete: { type: Boolean, default: true },
    // elemento com dados da linha, disparado nos emits e nos filtros de botão
    element: { type: Object, default: () => {} },
    /**
     * objeto com os botões a serem exibidos, por padrão cada elemento já contem as seguintes propriedades
     *
     *
     * icon: "label",
     * title: "menu item",
     * class: "",
     * filter: function() {
     *     return true;
     * },
     * confirm: false,
     * disabled: false,
     * visible: true,
     * action: "default",
     * color: "#333",
     * order: 0
     */
    buttons: {
      type: Object,
      // Por padrão o delete e edit já são implementados, para ocultar use `delete|edit:false`
      default: () => {
        return {}
      }
    },
    // habilita o menu no hover
    openOnHover: { type: Boolean, default: false },
    // tamanho mínimo do menu
    minWidth: { type: String, default: '165px' },
    // classes a serem aplicadas no botão ativador
    btnClass: { type: String, default: '' },
    // ícone do botão ativador
    icon: { type: String, default: 'expand_more' },
    iconColor: { type: String, default: 'primary' },
    // posição inicial a esquerda por padrão
    left: { type: Boolean, default: true },
    right: { type: Boolean, default: false },
    // tamanho mínimo do menu
    // posição do menu abaixo do elemento por padrão
    offsetY: { type: Boolean, default: true }
  },
  data () {
    return {
      value: false,
      active: null,
      defaultButtons: {}
    }
  },
  computed: {
    mergedButtons: function () {
      // faz o merge de cada button com valores default, para que não ocorra erro sem algum parametro for passado faltando
      const clone = { ...this.buttons }
      const omit = []

      for (const b in clone) {
        if (clone[b] === false) {
          omit.push(b)
        } else {
          // ativa os default se true
          if (clone[b] === true) {
            clone[b] = this.defaultButtons[b] || {}
          }

          if (b === 'delete' || b === 'edit') {
            clone[b].visible = true
            clone[b] = Object.assign(this.defaultButtons[b], clone[b])
          } else {
            clone[b] = Object.assign(
              {
                icon: 'label',
                title: 'menu item',
                class: '',
                disableFilter: function () {
                  return false
                },
                filter: function () {
                  return true
                },
                confirm: false,
                disabled: false,
                visible: true,
                action: 'default',
                color: '#333',
                order: 0
              },
              clone[b]
            )
          }
        }

        // ajusta o confirm caso tenha

        if (clone[b].confirm === true) {
          clone[b].confirm = Object.assign(
            {
              status: false,
              text: null,
              icon: 'help_outline',
              color: 'red'
            },
            clone[b].confirm
          )
        }

        // ajusta o delete-confirm
        if (b === 'delete') {
          if (!this.confirmDelete) { clone[b].confirm = false }
        }

        //
        if (typeof clone[b] === 'object') { clone[b].element = this.element }
      }

      // remove todos os elementos que devem ser omitidos ou demovidos

      return Object.values(globalThis._.omit(globalThis._.merge(this.defaultButtons, clone), omit))
        .filter((el) => el.visible)
        .filter((el) => {
          return el.filter(this.element)
        })
        .flat()
        .sort((a, b) => a.order - b.order)
    },
    hasButtons: function () {
      return Object.values(this.mergedButtons).length > 0
    }
  },
  watch: {
    value: function (n, o) {
      // console.log("asasasasasas");
      if (!n) {
        // this.active = null;
        // apenas para dar tempo (visualmente) de o menu se ocultar
        setTimeout(() => {
          this.active = null
          for (const b in this.mergedButtons) {
            if (this.mergedButtons[b].confirm) { this.mergedButtons[b].confirm.status = false }
          }
        }, 500)
      }
    },
    active: function (n, o) {
    }
  },
  created () {
    this.defaultButtons = {
      delete: {
        icon: 'delete_outline',
        title: 'Delete',
        class: '',
        disabled: false,
        disableFilter: function () {
          return false
        },
        visible: true,
        confirm: {
          status: false,
          text: null,
          icon: 'help_outline',
          color: 'red'
        },
        tip: {},
        filter: function () {
          return true
        },
        action: 'delete',
        color: 'red',
        order: 999
      },
      edit: {
        icon: 'edit',
        title: 'Editar',
        class: '',
        disableFilter: function () {
          return false
        },
        disabled: false,
        visible: false,
        confirm: false,
        tip: {},
        filter: function () {
          return true
        },
        action: 'edit',
        color: 'primary',
        order: 998
      }
    }
  },
  mounted () {},
  methods: {
    dynamicTitle (item) {
      return isFunction(item.title) ? item.title(this.element) : item.title
    },
    dynamicColor (item) {
      return isFunction(item.color) ? item.color(this.element) : item.color
    },
    dynamicIcon (item) {
      return isFunction(item.icon) ? item.icon(this.element) : item.icon
    },
    preClick (btn) {
      this.$nextTick(() => {
        if (btn.confirm === false) {
          this.triggerEvent(btn)
        } else {
          if (btn.confirm.status) {
            this.triggerEvent(btn)
          } else {
            btn.confirm.status = true
          }
        }
      })
    },
    triggerEvent (btn) {
      this.value = false
      this.$emit(`on-${btn.action}-action`, this.element)
      this.$emit('on-action', { action: btn.action, element: this.element })
    }
  }
}
</script>

<style lang="scss" scoped>
.v-list-item__icon {
  margin-right: 10px !important;
}
</style>
