<template>
  <component
    :is="$attrs.cType"
    v-if="$attrs.cType !== 'v-textarea'"
    ref="input"
    v-model="model"
    v-mask="$attrs.zMask || null"
    v-bind.sync="$attrs"
    set=""
    custom-get=""
    get=""
    reset=""
    set-prop=""
    validate=""
    created=""
    toggle-tab=""
    on-z-mask-complete=""
    on-z-mask-incomplete=""
    observer=""
    mounted=""
    el=""
    class="z-field"
    @keydown.native="stopSubmit"
    v-on="$listeners"
  >
    <slot
      v-for="slot in Object.keys($slots)"
      :slot="slot"
      :name="slot"
    />
    <template
      v-for="slot in Object.keys($scopedSlots)"
      :slot="slot"
      slot-scope="scope"
    >
      <slot
        :name="slot"
        v-bind="scope"
      />
    </template>
    <v-tooltip
      v-if="switchBtn!==false"
      :slot="switchBtn.slot"
      top
    >
      <template #activator="{ on }">
        <v-icon
          :color="switchBtn[`${switchBtn.value}`].color"
          v-on="on"
          @click="onSwitchToggle"
        >
          {{ switchBtn[`${switchBtn.value}`].icon }}
        </v-icon>
      </template>
      <span>{{ switchBtn[`${switchBtn.value}`].label }}</span>
    </v-tooltip>
  </component>
  <component
    :is="$attrs.cType"
    v-else
    ref="input"
    v-model="model"
    v-bind.sync="$attrs"
    set=""
    custom-get=""
    custom-set=""
    get=""
    reset=""
    setprop=""
    get-file-input=""
    validate=""
    created=""
    toggle-tab=""
    on-z-mask-complete=""
    on-z-mask-incomplete=""
    observer=""
    mounted=""
    el=""
    class="z-field"
    @keydown.native="stopSubmit"
    v-on="$listeners"
  >
    <slot
      v-for="slot in Object.keys($slots)"
      :slot="slot"
      :name="slot"
    />
    <template
      v-for="slot in Object.keys($scopedSlots)"
      :slot="slot"
      slot-scope="scope"
    >
      <slot
        :name="slot"
        v-bind="scope"
      />
    </template>
    <v-tooltip
      v-if="switchBtn!==false"
      :slot="switchBtn.slot"
      top
    >
      <template #activator="{ on }">
        <v-icon
          :color="switchBtn[`${switchBtn.value}`].color"
          v-on="on"
          @click="onSwitchToggle"
        >
          {{ switchBtn[`${switchBtn.value}`].icon }}
        </v-icon>
      </template>
      <span>{{ switchBtn[`${switchBtn.value}`].label }}</span>
    </v-tooltip>
  </component>
</template>
<script>
import { isFunction } from '~/helpers/z-helpers'
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZField',
  mixins: [BaseComponent],
  inheritAttrs: true,
  props: {
  },
  data () {
    return {
      model: null
    }
  },
  computed: {
    input () { return this.$refs.input },
    switchBtn () {
      return this.$attrs.switch
    }
  },
  watch: {
    model (n, o) {
      this.$attrs.setProp('value', n)
      this.$attrs.setProp('errorMessages', [])

      if (isFunction(this.$attrs.observer)) {
        this.$attrs.observer(this, n, o)
      }

      // checa a máscara e emite um evento quando completa

      if (this.$attrs.zMask) {
        const m = this.$attrs.zMask.length
        if (this.model && m === this.model.length && (m > (o && o.length))) {
          this.$emit('z-mask-complete', n)
          if (isFunction(this.$attrs.onZMaskComplete)) {
            this.$attrs.onZMaskComplete(n, this)
          }
        } else {
          this.$emit('z-mask-not-complete', n)
          if (isFunction(this.$attrs.onZMaskNotComplete)) {
            this.$attrs.onZMaskNotComplete(n, this)
          }
        }
      }
    }
  },
  beforeCreate () {
  },
  created () {
  },
  mounted () {
    if (isFunction(this.$attrs.mounted)) {
      this.$attrs.mounted(this)
    }

    this.$nextTick(() => {
      if (isFunction(this.$attrs.created)) {
        this.$attrs.created(this)
      }
    })
  },
  methods: {
    stopSubmit (e) {
      if (this.cType === 'v-text-field' && e.keyCode === 13) {
        e.preventDefault()
      }
    },
    onSwitchToggle (e) {
      this.switchBtn.toggle(e)
      if (isFunction(this.$attrs.onSwitch)) {
        this.$attrs.onSwitch(this.$attrs.switch.get())
      }
    }
  }
}

</script>
