<template>
  <div class="justify-content-between d-flex">
    <slot
      name="left"
      class="b-blue"
    >
      <v-btn
        color="primary"
        @click="newClick"
      >
        <v-icon class="mr-2">
          new_releases
        </v-icon> Novo Registro
      </v-btn>
    </slot>
    <v-spacer />
    <slot
      name="right"
      class="b-green"
    >
      <v-btn
        v-if="!editing"
        color="verde"
        @click="storeClick"
      >
        <v-icon class="mr-2">
          save
        </v-icon> Salvar
      </v-btn>
      <v-btn
        v-else
        color="success"
        @click="updateClick"
      >
        <v-icon class="mr-2">
          edit
        </v-icon> Atualizar
      </v-btn>
    </slot>
  </div>
</template>

<script>
// import ZVirtualForm from '~/classes/ZVirtualForm'
// import FormsContainer from '~/mixins/FormsContainer'
// import ZField from '~/classes/ZField'
// import ZPhone from '~/classes/ZPhone'
// import { ufs, getCep, manageErrorBag } from '~/helpers/z-helpers'

export default {
  // mixins: [FormsContainer],
  props: {
    editing: { type: Boolean, default: false }
  },
  data: () => ({
  }),
  methods: {
    /** form-actions listeners */
    storeClick (e) {
      this.$emit('store-click', e)
    },
    updateClick (e) {
      this.$emit('update-click', e)
    },
    newClick (e) {
      this.$emit('new-click', e)
    }
  }
}
</script>
