<template>
  <v-fade-transition>
    <v-layout
      v-show="visible"
      align-top
      justify-center
      row
      fill-height
      class="preloader"
    >
      <v-layout
        align-center
        justify-center
        column
      >
        <!-- <img
          class="logo mb-3"
          :src="'/images/logo.png'"
        > -->
        <img
          class="logo mb-3"
          :src="'/images/admin/loading-overlay.svg'"
        >
        <h3
          v-if="message !== ''"
          class="mt-2 text-xs-center"
        >
          {{ message }}
        </h3>
      </v-layout>
    </v-layout>
  </v-fade-transition>
</template>

<script>
import { mapState } from 'vuex'

export default {
  // name: 'ZOverlay',
  computed: {
    ...mapState({
      visible: (state) => state.overlay.visible,
      message: (state) => state.overlay.message
    })
  },
  methods: {
    // hide () {
    //   this.$store.commit('customer/hide')
    // }
  }
}
</script>

<style lang="scss" scoped>
.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
}
.preloader .layout {
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.preloader h3,
.preloader .v-icon {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.4);
}

.preloader .layout h3 {
  font-weight: bold;
  color: #0292fc;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.preloader .logo {
  opacity: 0.7;
}
.preloader .loader {
  width: 180px;
  height: auto;
}

/* dark version */
.preloader.dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.preloader.dark h3,
.preloader.dark .v-icon {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
</style>
