<template>
  <div
    v-bind="$attrs"
    :style="{'maxHeight':data.maxHeight, 'grid-template-columns': data.headerSizes}"
    class="z-scroll-table-row"
    v-on="$listeners"
  >
    <slot
      v-if="data.isSelectable"
      name="actions-button"
    >
      <z-col class="flex-row justify-center">
        <v-checkbox
          v-model="select"
          dense
          hide-details
        />
      </z-col>
    </slot>
    <slot name="default" />
    <slot
      v-if="data.hasActions"
      name="actions-button"
    >
      <z-col class="flex-row justify-end">
        <z-actions-button
          :buttons="buttons"
          :element="item"
          :open-on-hover="true"
          @on-action="triggerEvent"
        />
      </z-col>
    </slot>
  </div>
</template>

<script>
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZScrollTableRow',
  mixins: [BaseComponent],
  props: {
    item: { type: Object, default () { return {} } },
    data: { type: Object, default () { return {} } },
    buttons: { type: Object, default () { return {} } }
  },
  data () {
    return {
      select: { type: Boolean, default: false }
    }
  },
  mounted () {
  },
  methods: {
    triggerEvent (ev) {
      this.$emit(`on-${ev.action}-action`, ev.element)
    }
  }
}
</script>
