<template>
  <!-- v-bind.sync="$attrs" -->
  <div
    v-bind="$attrs"
    class="z-scroll-table-grid-block col ma-2"
    :style="{'maxHeight':data.maxHeight}"
    v-on="$listeners"
  >
    <slot name="header">
      <div class="d-flex">
        <h6
          class="my-auto text-truncate primary--text"
        >
          {{ title }}
        </h6>
        <v-spacer />
        <slot name="actions-button">
          <z-actions-button
            slot="buttons"
            :buttons="buttons"
            :element="item"
            color="red"
            icon="chevron_right"
            icon-color="red"
            :open-on-hover="true"
            right
            :offset-x="true"
            :offset-y="false"
            :nudge-top="14"
            :nudge-right="14"
            :close-delay="300"
            @on-action="triggerEvent"
          />
        </slot>
      </div>
    </slot>
    <slot name="default" />
  </div>
</template>

<script>
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZScrollTableRow',
  mixins: [BaseComponent],
  props: {
    item: { type: Object, default () { return {} } },
    buttons: { type: Object, default () { return {} } },
    data: { type: Object, default () { return {} } },
    title: { type: String, default: null }
  },
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
    triggerEvent (ev) {
      this.$emit(`on-${ev.action}-action`, ev.element)
    }
  }
}
</script>
