<template>
  <v-container
    class="pa-0"
  >
    <div
      v-if="gridMode"
      class="my-auto mr-2"
      style="display:inline"
    >
      <v-icon
        class="mr-1"
        color="primary"
      >
        swap_vert
      </v-icon><span class="black1--text text--lighten-1">Sort by</span>
    </div>
    <div
      color="primary"
      :class="['z-scroll-table-header',{'grid-mode':gridMode}]"
      :style="[{ 'grid-template-columns': getSizes }]"
    >
      <template v-for="(h, index) in onlyVisibles">
        <div
          :key="`th${index}`"
          v-ripple="h.orderable ? { class: `primary--text` } : false"
          :class="[
            {
              'sort-asc': h.sortAsc === true,
              'sort-desc': h.sortAsc === false,
              orderable: h.orderable,
              active: active && active.id === h.id
            },'d-flex cell']"
          @click="onClick(h)"
        >
          <v-tooltip
            top
          >
            <template #activator="{ on }">
              <small
                class="text-truncate"
                v-on="on"
              >
                {{ h.text }}
              </small>
            </template>
            <span>{{ h.tooltip || h.text }}</span>
          </v-tooltip>
        </div>
      </template>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'ZScrollTableHeader',
  props: {
    headers: { type: Array, default: () => [] },
    gridMode: { type: Boolean, default: false }
  },
  data () {
    return {
      mergeHeader: '',
      active: null,
      selectAll: false
    }
  },
  computed: {
    // aplica os valores default a todos os elementos do header
    // retorna as dimensões das colunas para aplicar na propriedade css grid-template-columns
    getSizes: function () {
      return this.mergeHeader
        .map((el) => {
          return [undefined, null, 'auto'].includes(el.width)
            ? 'auto'
            : el.width
        })
        .join(' ')
    },
    onlyVisibles () {
      // return
      return this.gridMode ? this.mergeHeader.filter(el => el.visible && el.orderable) : this.mergeHeader
    },
    isAsc: function () { // checar o H
      return this.orderable // && h.sortAsc
    }
  },
  created () {
    this.mergeHeader = this.headers.map((el, index) =>
      Object.assign(
        {
          orderable: false,
          value: null,
          width: 'auto',
          text: 'column',
          sortAsc: null,
          type: String,
          align: 'left',
          visible: true,
          id: globalThis._.uniqueId('cid_')
        },
        this.headers[index]
      )
    )
  },
  mounted () {
  },
  methods: {
    onClick (el, sort = false) {
      if (el.orderable) {
        if (!sort) { el.sortAsc = el.sortAsc == null ? true : !el.sortAsc } else {
          const loadedHeader = this.mergeHeader.find(f => f.value === el.value)
          if (loadedHeader) { loadedHeader.sortAsc = el.sortAsc }
        }

        if (this.active && this.active.id !== el.id) {
          this.active.sortAsc = null
        }
        this.active = el
        this.$emit('on-sort', el)
      }
    }
  }
}
</script>
