<template>
  <div>
    <v-tooltip
      v-model="tooltip"
      top
    >
      <template #activator="{ on }">
        <v-btn
          icon
          :color="$attrs.color || $attrs[$attrs.value].color"
          v-on="on"
          @click="click"
        >
          <v-icon>{{ $attrs.icon || $attrs[$attrs.value].icon }}</v-icon>
        </v-btn>
      </template>
      <span>{{ $attrs.label || $attrs[$attrs.value].label }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import BaseComponent from '~/mixins/BaseComponent'

export default {
  name: 'ZSwitchBtn',
  mixins: [BaseComponent],
  inheritAttrs: false,
  props: {
    status: { type: Boolean, default () { return false } }
  },
  data () {
    return {
      tooltip: false
    }
  },
  computed: {
  },
  beforeCreate () {
  },
  created () {
  },
  mounted () {
  },
  methods: {
    click () {
      this.$emit('btn-click', this.value)
    }
  }
}
</script>
