// .mb-avatar-picker{
//   cursor:pointer;
// }

// .mb-avatar-picker > .v-image .v-image__image.v-image__image--cover{
//   transition: all .2s ease-in-out;
// }

// .mb-avatar-picker.hover > .v-image .v-image__image.v-image__image--cover{
//   opacity:.4;
//   transition: all .2s ease-in-out;
// }

.v-avatar-container input {
  opacity:0!important
}
// .v-avatar-container:before{
//   opacity:0!important
//   border:1px blue solid;
//   width:100%;
// height:100%;
//   content:
// }