.z-scroll-table-grid-block{
  border:1px $rowgridborder solid;
  border-radius:5px;
  opacity:$rowgridopacity;
  transition: $rowgridtransition;
  overflow:hidden;
}
.z-scroll-table-grid-block.active,
.z-scroll-table-grid-block:hover{
  opacity:1;
  box-shadow: 2px 2px 8px rgba(0,157,253,.3);
}
.z-scroll-table-grid-block .line-dense{
  line-height:1.3;
  color:#777
}
.z-scroll-table-grid-block .block-subs{
  background-color: #f4f4f4;
  border-radius:5px;
}