/* Add here all your CSS customizations */

#header .header-nav-main nav > ul > li > a:hover,
#header .header-nav-main nav > ul > li > a.active {
    background-color: #94B4E4!important;
    color:#444!important;
}
#header .header-nav-main nav > ul > li > a{
    color:#444!important;
    font-size:16px!important;
}

#header .header-icon{
    font-size:22px;
    padding:0 5px;
    border:none;
}

#header .header-icon.icon-whatsapp{
    color:#26CC64
}
#header .header-icon.icon-hours{
    color:#1ea5c3
}
.header-extra-info-text a{
    color:#555!important;
    text-decoration:none!important
}
.header-extra-info-text a:hover{
    color:#3E9CD6!important;
}

/* Container */
@media (min-width: 1200px) {
	.container:not(.container-bs):not(.container-xl-custom):not(.container-xxl-custom) {
		max-width: 1240px;
	}
}

/* footer,footer *{
    background-color:#7fb6e3!important;
    color:#444;
    border-top:none!important
} */
.partners-item{
    background-repeat:no-repeat;
    background-position:center center;
    background-size:80% auto;
    height:200px
  }