.z-item{
    /* display:block!important; */
    text-decoration:none!important;
    /* box-shadow:1px 1px 3px rgba(0,0,0,.3);
    padding:.5em;
    border-radius:5px; */
}


.z-item h4{
    min-height:60px;
    display:flex;
}
.z-item h4 strong{
    display:block;
    margin:auto
}

