/* Add here all your CSS customizations */

#header .header-nav-main nav > ul > li > a:hover,
#header .header-nav-main nav > ul > li > a.active {
    background-color: #94B4E4!important;
    color:#444!important;
}
#header .header-nav-main nav > ul > li > a{
    color:#444!important;
    font-size:16px!important;
}