<template>
  <div class="fill-height d-flex flex-column">
    <div>
      <h3 class="my-2">
        <strong>&nbsp;</strong>
      </h3>
      <v-row>
        <v-col class="cols-12 col-sm-7">
          <v-row>
            <v-col class="cols-12 col-sm-7">
              <z-field
                v-bind="Object.assign(mainFields.city_id,{
                  items:_cityList
                })"
              />
            </v-col>
            <v-col class="cols-12 col-sm-5">
              <z-field
                v-bind="Object.assign(mainFields.categories,{
                  items:_categoryList
                })"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col class="cols-12 col-sm-5">
          <z-field
            v-bind="mainFields.name"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="cols-12 col-sm-1">
          <z-field
            v-bind="Object.assign(mainFields.icon,{
              items:_icons
            })"
          >
            <template #selection="{ item }">
              <v-icon class="mx-auto">
                {{ item }}
              </v-icon>
            </template>
            <template #item="{ item }">
              <v-icon class="mx-auto">
                {{ item }}
              </v-icon>
            </template>
          </z-field>
        </v-col>
        <v-col class="cols-11">
          <z-field
            v-bind="mainFields.description"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col class="cols-12 col-sm-5">
          <z-field
            v-if="!fileReloaded"
            v-bind="mainFields.file"
          />
          <v-chip
            v-else
            class="ma-2"
            close
            color="azul"
            label
            outlined
            @click:close="removeFile"
          >
            {{ mainForm.editing && mainForm.editing.file.name }}
          </v-chip>
        </v-col>
      </v-row>
    </div>
    <v-spacer />
    <z-form-actions
      :editing="isEditing"
      v-on="_formsActionsListeners"
    />
  </div>
</template>

<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import FormsContainer from '~/mixins/FormsContainer'
import ZField from '~/classes/ZField'
import ZFile from '~/classes/ZFile'
import ZSelect from '~/classes/ZSelect'
import { icons } from '~/plugins/themes/icons'
import { manageErrorBag } from '~/helpers/z-helpers'
import { mapGetters } from 'vuex' // mapGetters

export default {
  mixins: [FormsContainer],
  data: () => ({
    fileReloaded: false
  }),
  computed: {
    ...mapGetters({
      cityId: 'user/cityId',
      _cityList: 'city/listToSelect'
    }),
    _categoryList () {
      return this.$store
        .getters['category/listToSelect']()
    },
    _icons () {
      return icons || []
    }
  },
  watch: {
    isEditing (n, o) {
      this.fileReloaded = n
    },
    fileReloaded (n, o) {
      console.log('tá vindo aqui', n)
      this.mainFields.file.ignore = n
    }
  },
  created () {
    this.forms = {
      main: new ZVirtualForm({
        fields: {
          city_id: new ZSelect({
            label: 'Município',
            cType: 'v-autocomplete',
            required: true,
            returnItemValue: true,
            defaultValue: () => null
          }),
          categories: new ZSelect({
            label: 'Categoria do Documento',
            cType: 'v-autocomplete',
            required: true,
            clearable: true,
            multiple: true,
            resetIgnore: true,
            returnItemValue: true
          }),
          name: new ZField({
            label: 'Título do Documento',
            required: true,
            counter: 40,
            maxLength: 40
          }),
          description: new ZField({
            label: 'Descrição'
          }),
          file: new ZFile({
            label: 'Carregar documento',
            // accept: 'image/png, image/jpeg, image/bmp',
            ignore: false,
            required: true,
            truncateLength: 40
          }),
          icon: new ZSelect({
            label: 'Icone',
            cType: 'v-select',
            dense: true,
            required: true,
            resetIgnore: true,
            defaultValue: () => 'download'
          })

        }
      })
    }
  },
  methods: {
    validate () {
      this.mainForm.validate().then(_mainData => {
        const fullData = this.mainForm.getValues({
          formData: true
        })

        fullData.append('type', 'doc')

        if (this.mainForm.editing) {
          this.update(fullData)
        } else {
          this.store(fullData)
        }
      })
        .catch((err) => {
          console.log('erro no validate, preparar o 422', err)
        })
    },
    async store (ret) {
      return globalThis.axios
        .post('dashboard/items/store', ret)
        .then(({ data }) => {
          if (data.success) {
            this.onStoreSuccess(data.data)
          }
        })
        .catch(err => {
          manageErrorBag(err, this.mainFields)
          this.onStoreFail(err)
        })
    },
    async update (ret) {
      // como é form,faz append
      ret.append('updateId', this.mainForm.editing.id)
      return globalThis.axios
        .post('dashboard/items/update', ret)
        .then((d) => {
          if (d.data.success) {
            this.onUpdateSuccess(d.data.data)
          }
        })
        .catch(err => {
          console.log('ERRRR:: ', err.response.data)
          manageErrorBag(err, this.mainFields)
          this.onUpdateFail(err)
        })
    },
    removeFile () {
      this.mainFields.file.reset()
      this.fileReloaded = false
    }

  }
}
</script>
