<template>
  <div>
    <h1 class="title d-block my-2 py-1">
      <v-icon class="mr-2">
        description
      </v-icon><span class="">{{ 'Cadastro de Documentos' }}</span>
    </h1>

    <v-divider class="my-2" />

    <v-tabs
      v-model="tab"
      centered
      icons-and-text
    >
      <v-tabs-slider />

      <v-tab href="#tab-docs-cadastro">
        Cadastro
        <v-icon>rule</v-icon>
      </v-tab>

      <v-tab href="#tab-docs-lista">
        Lista
        <v-icon>list_alt</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items
      v-model="tab"
      class="children-fill-height"
      style="height:calc(100% - 120px)"
    >
      <v-tab-item
        class="fill-height"
        value="tab-docs-cadastro"
        eager
      >
        <v-card
          flat
          class="fill-height"
        >
          <doc-forms-container
            ref="formsContainer"
            v-on="_formsContainerListeners"
          />
        </v-card>
      </v-tab-item>
      <v-tab-item
        value="tab-docs-lista"
        eager
      >
        <v-card flat>
          <doc-table
            ref="mainTable"
            v-on="_tableListeners"
            @sync="onSync"
          />
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import BasePage from '~/mixins/BasePage'
import { mapGetters } from 'vuex' // mapGetters
// import { is422Error } from '~/helpers/z-helpers'

export default {
  name: 'DocPage',
  mixins: [BasePage],
  data () {
    return {
      module: 'item'
    }
  },
  computed: {
    ...mapGetters({
      cityId: 'user/cityId'
    })
  },
  mounted () {
    this.$nextTick(() => {
      this.$store.dispatch('item/load')
    })
  },
  methods: {
    async onEdit (data) {
      return globalThis.axios
        .get(`dashboard/items/edit/${data.id}`)
        .then(({ data }) => {
          if (data.success) {
            const _d = data.data || {}
            this.formsContainer.toggleTab()
            this.mainForm.editing = _d
            // evita o autopreenchimento do zipCode no load inicial para edit
            this.$nextTick(() => {
              this.mainForm.fill(_d)
                .then(ret => {
                })
                .catch(() => {
                  this.mainForm.editing = null
                })
                .finally(() => {
                })
            })
          } else {
            throw new Error('success false no edit item')
          }
        })
        .catch(err => {
          console.log('erro no edit', err)
        })
    },
    onStoreSuccess (data) {
      this.$toast.success('registro salvo com sucesso!')
      this.$store.dispatch('item/load').then(() => {
        this.$refs.mainTable.toggleTab()
        this.$nextTick(() => {
          this.formsContainer.new()
        })
      })
    },
    onUpdateSuccess () {
      this.$toast.success('registro atualizado com sucesso!')
      this.$store.dispatch('item/load').then(() => {
        // this.mainForm.editing = null
        this.$refs.mainTable.toggleTab()
      }).finally(() => {
        this.formsContainer.new()
      })
    },
    onDeleteSuccess (data) {
      this.$toast.success('registro removido com sucesso!')
      this.$store.dispatch('item/load').then(() => {
        this.$refs.mainTable.toggleTab()
        this.$nextTick(() => {
          this.formsContainer.new()
        })
      })
    },
    async onDelete (obj) {
      return globalThis.axios
        .post('dashboard/items/delete', {
          id: obj.id,
          cityId: this.cityId
        })
        .then(({ data }) => {
          if (data.success) {
            this.onDeleteSuccess()
          } else {
            throw new Error('success false no edit item')
          }
        })
        .catch(err => {
          this.onDeleteFail(err)
        })
    },
    onSync (c) {
      this.$store.dispatch('item/load')
    }
  }
}
</script>
