<template>
  <v-container>
    <z-scroll-table
      ref="ztable"
      storage-id="zDocTable"
      :headers="headers"
      :rows.sync="rows"
      key-field="id"
      :filters="filters"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <template slot="filters">
        <v-col class="col-xs-12 col-sm-3">
          <z-field
            ref="filterCityId"
            name="city_id"
            v-bind="Object.assign(filters.city_id,{
              items:_cityList
            })"
            @input="filter"
          />
        </v-col>
        <v-col class="col-xs-12 col-sm-3">
          <z-field
            ref="filterDocType"
            name="categories"
            v-bind="Object.assign(filters.categories,{
              items:_categoryList
            })"
            @input="filter"
          />
        </v-col>
      </template>

      <template
        #row="{item,data}"
      >
        <z-scroll-table-row
          :item="item"
          :data="data"
          :buttons="buttons"
          v-on="itemListeners"
        >
          <z-col>
            <span>{{ item.id }}</span>
          </z-col>
          <z-col class="text-truncate col-11">
            <span
              v-if="item.city"
            >
              {{ item && item.city.name || 'Global (todos)' }}
            </span>
          </z-col>
          <z-col class="text-truncate col-11">
            <span class="d-block">
              <v-icon class="mr-1">{{ item.icon }}</v-icon>
              {{ item.name }}
            </span>
            <span class="my-2">
              <v-chip
                v-for="cat in (item.categories && item.categories)"
                :key="`cat-${cat.id}`"
                :color="cat.pivot && cat.pivot.main ? 'verde' : 'primary'"
                label
                small
                class="mr-1"
                @click="setMain(item, cat)"
              >
                {{ cat.name }}
              </v-chip>
            </span>
            <small v-if="item.url">
              <a
                target="_blank"
                :href="item.url"
              >{{ item.url }}</a>
            </small>
            <small v-if="item.file">
              <a
                :href="`${appUrl}/documents/download/${item.file.name}`"
              >{{ `${appUrl}/documents/download/${item.file.name}` }}</a>
            </small>
          </z-col>
          <z-col>
            <z-humanized-date :date="item.updated_at" />
          </z-col>
          <z-col>
            <z-switch-btn
              v-bind="btns.urlCopy"
              @btn-click="copyUrl(item)"
            />
          </z-col>
          <z-col>
            <z-switch-btn
              v-bind="btns.download"
              @btn-click="download(item)"
            />
          </z-col>
          <z-col>
            {{ item.file && item.file.counter }}
          </z-col>
        </z-scroll-table-row>
      </template>
    </z-scroll-table>
  </v-container>
</template>

<script>
import BaseTable from '~/mixins/BaseTable'
import ZSelect from '~/classes/ZSelect'
import { mapState, mapGetters } from 'vuex' // mapGetters

export default {
  name: 'DocTable',
  mixins: [BaseTable],
  data () {
    return {
      filters: {
        keyword: {
          value: '',
          index: ['city.name', 'name', 'category.name'],
          hint: 'pressione enter para filtrar'
        },
        city_id: new ZSelect({
          index: ['city_id'],
          clearable: true,
          label: 'Filtrar por Município',
          returnObject: true,
          returnItemValue: true
        }),
        categories: new ZSelect({
          index: ['categories'],
          clearable: true,
          label: 'Filtrar por tipo de Item',
          returnObject: true,
          multiple: true,
          returnItemValue: true
        })
      },
      btns: {
        urlCopy: {
          icon: 'content_copy',
          color: 'verde',
          label: 'copiar url'
        },
        download: {
          icon: 'file_download',
          color: 'azul',
          label: 'baixar arquivo'
        }
      }
      // cityList: [],
      // categoryList: []
    }
  },
  computed: {
    ...mapState({
      appUrl: (state) => state.config.appUrl,
      list: (state) => {
        return state.item.list.filter(el => {
          return ['doc', 'both'].includes(el.type)
        })
      }
    }),
    ...mapGetters({
      _cityList: 'city/listToSelect'
    }),
    _categoryList () {
      return this.$store
        .getters['category/listToSelect']()
    },
    headers () {
      return [
        {
          text: '#',
          tooltip: 'ID',
          value: 'id',
          width: '5%',
          type: Number,
          align: 'center',
          orderable: true
        },
        {
          text: 'Município',
          value: 'city',
          index: 'city.id',
          width: '15%',
          orderable: true
        },
        {
          text: 'name',
          value: 'name',
          width: 'auto',
          orderable: true
        },
        {
          text: 'Última Atualização',
          value: 'updated_at',
          width: '15%',
          align: 'center',
          type: Date,
          orderable: true
        },
        {
          text: 'C',
          tooltip: 'Copiar URL',
          align: 'center',
          width: '5%',
          orderable: false
        },
        {
          text: 'B',
          tooltip: 'Baixar Arquivo',
          align: 'center',
          width: '5%',
          orderable: false
        },
        {
          text: 'D',
          value: 'file',
          index: 'file.counter',
          tooltip: 'Downloads',
          align: 'center',
          width: '4%',
          orderable: true
        }, { text: '', value: 'actions', width: '5%' }
      ]
      // .filter(el => {
      //   return true
      // })
    },
    buttons () {
      return {
        edit: true
      }
    }
  },
  watch: {
    _categoryList (n, o) {
      this.categoryList = n.filter(el => {
        return el.category && el.category.name === 'Documentos'
      })
        .map(el => {
          return {
            text: el.name,
            value: el.id
          }
        })
    },
    _cityList (n, o) {
      const c = n.filter(el => {
        return el.status
      })
        .map(el => {
          return {
            text: el.name,
            value: el.id
          }
        })
        .sort((a, b) => a.name - b.name)
      this.cityList = c
    }
  },
  methods: {
    async setMain (item, cat) {
      const map = item.categories.map(el => {
        return el.id
      })

      try {
        await globalThis.axios
          .post('dashboard/items/categories/sync', {
            cityId: this.cityId,
            itemId: item.id,
            main: cat.id,
            data: map
          })
        this.$emit('sync')
      } catch (e) { }
    },
    copyUrl (item) {
      if (item.file) {
        const zCopier = document.querySelector('#z-copier')
        const url = `${this.appUrl}/documents/download/${item.file.name}`
        zCopier.value = url
        this.$nextTick(() => {
          zCopier.select()
          document.execCommand('copy')
          this.$toast.success('url do arquivo copiada!')
        })
      }
    },
    download (item) {
      if (item.file) {
        const url = `${this.appUrl}/documents/download/${item.file.name}`
        window.open(url)
      }
    }
  }
}
</script>
