<template>
  <v-row>
    <v-col class="cols-12 col-sm-3">
      <z-field
        v-bind="form.fields.name"
        @change="onChangeName"
      />
    </v-col>
    <v-col class="cols-12 col-sm-2">
      <z-field
        v-bind="form.fields.phone"
      />
    </v-col>
    <v-col class="cols-12 col-sm-3">
      <z-field
        v-bind="form.fields.whatsapp_message"
        :disabled="!form.fields.phone.switch.get()"
      />
    </v-col>
    <v-col class="cols-12 col-sm-3">
      <z-field
        v-bind="form.fields.email"
      />
    </v-col>
    <v-col class="cols-12 col-sm-1">
      <z-field
        v-bind="form.fields.createUser"
      />
    </v-col>
  </v-row>
</template>
<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import ZField from '~/classes/ZField'
import ZPhone from '~/classes/ZPhone'
import ZSelect from '~/classes/ZSelect'

export default {
  data: () => ({
    form: null
  }),
  computed: {
  },
  watch: {
    'form.fields.name.value' (n, o) {
      if (typeof n === 'string' && typeof o !== 'string') {
        this.$nextTick(() => {
          // está apagando os dados no edit
          // this.form.fields.phone.reset()
          // this.form.fields.whatsapp_message.reset()
          // this.form.fields.email.reset()
        })
      }
    }
  },
  created () {
    this.form = new ZVirtualForm({
      autoIndex: true,
      fields: {
        name: new ZSelect({
          // index: 'id',
          label: 'Nome do responsável',
          required: true,
          itemText: 'name',
          itemValue: 'id',
          set (n) {
            this.el.model = this.items
              .find(el => el[this.itemText] === n) || n
          }
        }),
        phone: new ZPhone({
          whatsapp: true,
          required: true,
          onSwitch: (status) => {
            this.changeWhatsappMessage(status)
          }
        }),
        whatsapp_message: new ZField({
          label: 'Mensagem do whatsapp'
        }),
        email: new ZField({
          label: 'Email',
          type: 'email'
          // required: true
        }),
        createUser: new ZSelect({
          label: 'Criar Usuário',
          returnItemValue: true,
          required: true,
          cType: 'v-select',
          items: [
            { text: 'Sim', value: true },
            { text: 'Não', value: false }
          ],
          defaultValue: () => false
          // custom set
          // set (n) {
          //   this.el.model = this.items
          //     .find(el => el.value === n).text
          // },
          // customGet (n) {
          //   return this.items
          //     .find(el => el.text === this.get()).value
          // }
        })
      }
    })
  },
  methods: {
    changeWhatsappMessage (status) {
      if (!status) {
        this.form.fields.whatsapp_message.set(null)
      }
    },
    onChangeName (v) {
      if (v && v.id) {
        this.form.fields.phone.set(v.phone)
        this.form.fields.whatsapp_message.set(v.whatsapp_message)
        this.form.fields.email.set(v.email)
      }
    }
  }
}
</script>
