<template>
  <div class="fill-height d-flex flex-column">
    <div>
      <v-tabs
        v-model="tab"
        left
      >
        <v-tabs-slider />

        <v-tab href="#tab-form-general">
          <v-icon class="mr-1">
            description
          </v-icon>
          Dados Gerais
        </v-tab>

        <v-tab href="#tab-form-conf">
          <v-icon
            class="mr-1"
            small
          >
            z-google
          </v-icon>
          Google
        </v-tab>
        <v-tab href="#tab-form-banner">
          <v-icon class="mr-1">
            z-edit-image
          </v-icon>
          Banner
        </v-tab>
      </v-tabs>
      <v-tabs-items
        v-model="tab"
        class="children-fill-height"
      >
        <v-tab-item
          class="fill-height"
          value="tab-form-general"
          eager
        >
          <v-card
            flat
            class="fill-height py-2"
          >
            <h3 class="my-1 pb-3">
              <strong>Dados</strong>
            </h3>
            <v-row>
              <v-col class="cols-12 col-sm-6">
                <v-row>
                  <v-col class="cols-12 col-sm-3">
                    <z-field
                      v-bind="forms.main.fields.zip_code"
                    />
                  </v-col>
                  <v-col class="cols-12 col-sm-7">
                    <z-field
                      v-bind="forms.main.fields.name"
                      disabled
                      :loading="zipCodeWorking"
                    />
                  </v-col>
                  <v-col class="cols-12 col-sm-2">
                    <z-field
                      v-bind="forms.main.fields.region"
                      disabled
                      :loading="zipCodeWorking"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col class="cols-12 col-sm-6">
                <v-row>
                  <v-col class="cols-12 col-sm-8">
                    <z-field
                      v-bind="forms.main.fields.short_name"
                      :loading="zipCodeWorking"
                      :hint="slugHint"
                    />
                  </v-col>
                  <v-col class="cols-12 col-sm-4">
                    <z-field
                      v-bind="forms.main.fields.status"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>

            <v-row>
              <v-col class="cols-12 col-sm-6">
                <z-field
                  v-bind="forms.main.fields.address"
                  :disabled="zipCodeWorking"
                  :loading="zipCodeWorking"
                />
              </v-col>
              <v-col class="cols-12 col-sm-4">
                <z-field
                  v-bind="forms.main.fields.address2"
                  :disabled="zipCodeWorking"
                  :loading="zipCodeWorking"
                />
              </v-col>
              <v-col class="cols-12 col-sm-2">
                <z-field
                  v-bind="forms.main.fields.number"
                />
              </v-col>
            </v-row>

            <!-- contato e outros cados-->
            <v-row>
              <v-col class="cols-12 col-sm-4">
                <v-row>
                  <v-col class="cols-12 col-sm-6">
                    <z-field
                      v-bind="forms.main.fields.phone"
                    />
                  </v-col>
                  <v-col class="cols-12 col-sm-6">
                    <z-field
                      v-bind="forms.main.fields.mobile"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col class="cols-12 col-sm-8">
                <v-row>
                  <v-col class="cols-12 col-sm-5">
                    <z-field
                      v-bind="forms.main.fields.email"
                    />
                  </v-col>
                  <v-col class="cols-12 col-sm-7">
                    <z-field
                      v-bind="forms.main.fields.office_hours"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <h3 class="my-2 py-3 mt-4">
              <strong>Responsável Principal</strong>
            </h3>
            <city-form-resp ref="respForm" />
          </v-card>
        </v-tab-item>
        <v-tab-item
          value="tab-form-conf"
          eager
        >
          <v-card
            flat
            class="py-2"
          >
            <city-form-config
              ref="confForm"
              class="mt-3"
            />
          </v-card>
        </v-tab-item>
        <v-tab-item
          value="tab-form-banner"
          eager
        >
          <v-card
            flat
            class="py-2"
          >
            <city-form-banner
              ref="bannerForm"
              class="mt-3"
            />
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </div>
    <v-spacer />

    <z-form-actions
      :editing="isEditing"
      v-on="_formsActionsListeners"
    />

    <!-- Address -->
  </div>
</template>

<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import FormsContainer from '~/mixins/FormsContainer'
import ZField from '~/classes/ZField'
import ZPhone from '~/classes/ZPhone'
import ZSelect from '~/classes/ZSelect'
import { ufs, getCep, manageErrorBag } from '~/helpers/z-helpers'
import slugify from 'slugify'

export default {
  components: {
  },
  mixins: [FormsContainer],
  data: () => ({
    ignoreZipCode: false,
    hasImage: false,
    image: null
  }),
  computed: {
    zipCodeWorking () {
      return this.mainFields.zip_code.working === true
    },
    isEditing () {
      return this.forms.main.editing !== null
    },
    slugHint () {
      const slug = this.mainFields.short_name.get() ||
      this.mainFields.name.get() || 'slug'
      return `Ex: ...empreendedor.sebrae.to.br/${slugify(slug)}`
        .toLowerCase()
    },
    banner () {
      return {
        // raio 1920x600
        imageQuality: '0.85',
        clearable: true,
        overlayPadding: '20px',
        uploadIcon: 'upload',
        imageHeight: 297,
        imageWidth: 950,
        imageFormat: 'jpeg',
        imageMinScaling: 'contain',
        flipHorizontallyIcon: 'save',
        flipVerticallyIcon: 'edit',
        rotateClockwiseIcon: 'save',
        rotateCounterClockwiseIcon: 'label',
        successIcon: 'doc'

      }
    }
  },
  created () {
    this.forms = {
      main: new ZVirtualForm({
        fields: {
          zip_code: new ZField({
            label: 'Cep',
            required: true,
            zMask: '#####-###',
            working: false,
            order: 0,
            onZMaskComplete: (v, t) => {
              if (!this.ignoreZipCode) {
                this.manageZipCode(v, t)
              }
            }
          }),
          name: new ZField({
            label: 'Município',
            required: true
          }),
          region: new ZField({
            label: 'UF',
            cType: 'v-autocomplete',
            items: Object.keys(ufs).map(uf => uf.toUpperCase()),
            required: true,
            cacheItems: true,
            resetIgnore: true,
            defaultValue: () => 'TO'
          }),
          short_name: new ZField({
            label: 'Site Slug',
            hint: 'Ex: ...empreendedor.sebrae.to.br/slug',
            counter: 30,
            lowercase: true,
            maxLength: 30,
            persistentHint: true
            // observer: function (t, v) {
            // }
          }),
          status: new ZSelect({
            label: 'Status Inicial',
            returnItemValue: true,
            required: true,
            cType: 'v-select',
            items: [
              { text: 'Ativo', value: true },
              { text: 'Inativo', value: false }
            ],
            defaultValue: () => false
          }),
          address: new ZField({
            label: 'Endereço',
            required: true
          }),
          address2: new ZField({
            label: 'Bairro/Complemento'
          }),
          number: new ZField({
            label: 'Número'
            // required: true
          }),
          phone: new ZPhone({
            label: 'Telefone Fixo',
            zMask: '(##)####-####',
            whatsapp: {
              value: false
            }
          }),
          mobile: new ZPhone({
            whatsapp: true,
            required: false
          }),
          email: new ZField({
            label: 'Email',
            type: 'email'
          }),
          office_hours: new ZField({
            label: 'Atendimento',
            hint: 'Exemplo: Segunda a Sexta das 08h às 12hs e 14h às 18h',
            counter: 50,
            persistentHint: true,
            maxlength: 50,
            required: true
          })
        }
      })
    }
  },
  mounted () {
    this.forms = {
      ...this.forms,
      ...{
        resp: this.$refs.respForm.form,
        conf: this.$refs.confForm.form,
        banner: this.$refs.bannerForm.form
      }
    }
  },
  methods: {
    manageZipCode (v) {
      getCep(v).then((ret) => {
        if (ret.erro !== true) {
          this.mainFields.name.set(ret.localidade)
          this.mainFields.region.set(ret.uf)
          this.mainFields.address.set(ret.logradouro)
          this.mainFields.address2.set(ret.bairro)

          this.$nextTick(() => {
            this.mainFields.address.el.input.focus()
          })
        } else { throw new Error('cep inválido') }
      }).catch((err) => {
        this.mainFields.zip_code.errorMessages = [err.message]
        this.$toast.error(err.message)
      })
        .finally(() => {
          this.mainFields.zip_code.working = false
        })
    },
    validate () {
      this.validateAll({ formData: true })
        .then(fullData => {
          if (this.mainForm.editing) {
            this.update(fullData)
          } else {
            this.store(fullData)
          }
        })
        .catch(err => {
          console.log('validate error', err)
        })
    },
    async store (ret) {
      this.overlayShow()
      return globalThis.axios.post('dashboard/cities/store', ret, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
        .then(({ data }) => {
          if (data.success) {
            this.onStoreSuccess(data.data)
          }
        })
        .catch(err => {
          manageErrorBag(err, this.allFields())
          this.onStoreFail(err)
        })
    },
    async update (ret) {
      // append temp, self-delete TOP
      ret.append('updateId', this.mainForm.editing.id)
      this.overlayShow()
      return globalThis.axios
        .post('dashboard/cities/update', ret, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then((d) => {
          if (d.data.success) {
            this.onUpdateSuccess(d.data.data)
          }
        })
        .catch(err => {
          if (!manageErrorBag(err, this.allFields())) {
            this.onUpdateFail(err)
          }
        })
    },
    onFileInfo (e) {
    }

  }
}
</script>
<style>
#fileInput {
  display: none;
}
</style>
