<template>
  <div class="fill-height d-flex flex-column">
    <v-row>
      <v-col class="cols-12 col-sm-12">
        <z-field
          v-bind="form.fields.banner"
          @change="changeImage"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="cols-12 col-sm-12 fill-height">
        <div
          v-if="!tempFile"
          class="banner-container d-flex"
          @click="imageClick"
        >
          <v-img
            v-if="form.fields.banner.isFilled"
            :src="form.fields.banner.getUrl()"
            max-height="297"
            :aspect-ratio="16/9"
          />
          <div
            v-else
            class="d-flex image-cover ma-auto"
          >
            <v-icon
              class="ma-auto"
            >
              upload
            </v-icon>
          </div>
        </div>
        <div
          v-else
          class="banner-container d-flex"
          @click="imageClick"
        >
          <v-img
            :src="`storage/${tempFile.file_path}`"
            max-height="297"
            :aspect-ratio="16/9"
          />
          <!-- <div
            v-else
            class="d-flex image-cover ma-auto"
          >
            <v-icon
              class="ma-auto"
            >
              upload
            </v-icon>
          </div> -->
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import ZFile from '~/classes/ZFile'

export default {
  data: () => ({
    form: null,
    tempFile: null
  }),
  computed: {
  },
  created () {
    this.form = new ZVirtualForm({
      fields: {
        banner: new ZFile({
          label: 'Carregar Imagem',
          accept: 'image/png',
          // ignore: false,
          truncateLength: 100,
          hint: 'A imagem deverá possuir proporção de 1900x600',
          persistentHint: true,
          persistentFile: true,
          sizes: [
            { w: 1900, h: 600 }
          ],
          customGet () {
            return {
              file: this.value,
              sizes: this.sizes
            }
          },
          rules: [
          // VALIDAR SE ALGUMA SE PELO MENOS UMA COLUNA É email
            v => !v || v.size < 20000000 || 'tamanho máximo permitido 2MB',
            v => {
              if (v) {
                if (v.type !== 'image/png') {
                  return 'são permitidos apenas arquivos PNG'
                }
              }
              return true
            }
          // add validador de tipo aqui e no request (criar card no worckie)
          ]
        })
      }
    })
  },
  methods: {
    imageClick () {
      this.form.fields.banner.getFileInput().click()
    },
    // reloadImage (f) {
    //   if (f) {
    //     this.tempFile = f
    //     // f.url = f.url.replace(/[\\\\|\\]/g, '/')
    //   }
    // },
    changeImage () {
      this.tempFile = null
    }
  }
}
</script>
<style>
  .banner-container{
    width:900px;
    min-height:297px;
    margin:auto;
    cursor:pointer;
    border:2px #ccc dashed
  }

</style>
