<template>
  <div>
    <h1 class="title d-block my-2 py-1">
      <v-icon class="mr-2">
        z-city
      </v-icon><span class="">{{ 'Cadastro de Cidades' }}</span>
    </h1>

    <v-divider class="my-2" />

    <v-tabs
      v-model="tab"
      centered
      icons-and-text
    >
      <v-tabs-slider />

      <v-tab href="#tab-cadastro">
        Cadastro
        <v-icon>rule</v-icon>
      </v-tab>

      <v-tab href="#tab-lista">
        Lista
        <v-icon>list_alt</v-icon>
      </v-tab>
    </v-tabs>

    <v-tabs-items
      v-model="tab"
      class="children-fill-height"
      style="height:calc(100% - 120px)"
    >
      <v-tab-item
        class="fill-height"
        value="tab-cadastro"
        eager
      >
        <v-card
          flat
          class="fill-height"
        >
          <city-forms-container
            ref="formsContainer"
            v-on="_formsContainerListeners"
          />
        </v-card>
      </v-tab-item>
      <v-tab-item
        value="tab-lista"
        eager
      >
        <v-card flat>
          <city-table
            ref="cityTable"
            v-on="_tableListeners"
            @change-status="changeStatus"
          />
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import BasePage from '~/mixins/BasePage'

export default {
  name: 'CityPage',
  mixins: [BasePage],
  data () {
    return {
      module: 'city'
    }
  },
  mounted () {
    this.overlayShow('carregando')
    this.$store.dispatch('city/load')
      .finally(() => {
        this.overlayHide()
      })
  },
  methods: {
    async onEdit (data) {
      this.overlayShow()
      return globalThis.axios.get(`dashboard/cities/edit/${data.id}`)
        .then(({ data }) => {
          if (data.success) {
            const _d = data.data || {}
            this.formsContainer.toggleTab()
            this.mainForm.editing = _d
            // evita o autopreenchimento do zipCode no load inicial para edit
            this.formsContainer.ignoreZipCode = true
            this.$nextTick(() => {
              this.mainForm.fill(_d)
                .then(ret => {
                })
                .catch(() => {
                  this.mainForm.editing = null
                })
                .finally(() => {
                  this.formsContainer.ignoreZipCode = false
                })
                // preenche o form do contato

              this.formsContainer
                .forms
                .resp
                .fields
                .name
                .items = _d.contacts

              setTimeout(() => {
                this.formsContainer.forms.resp
                  .fill(_d.main_contact || [])
                  .then(ret => {

                  })
                  .catch(() => {
                    this.mainForm.editing = null
                  })
                  .finally(() => {
                    this.formsContainer.ignoreZipCode = false
                  })

                this.formsContainer.forms.conf
                  .fill(_d)

                this.formsContainer.forms.banner
                  .fill({
                    banner: {
                      file: _d.file,
                      base64: _d.bannerBase64
                    }
                  })

                // recarrega o banner
                // this.formsContainer.$refs.bannerForm.reloadImage(_d.file)
              }, 300)
            })
          } else {
            throw new Error('success false no edit city')
          }
        })
        .catch(err => {
          console.log('erro no edit', err)
        })
        .finally(() => {
          this.overlayHide()
        })
    },
    onStoreSuccess (data) {
      this.$toast.success('registro salvo com sucesso!')
      this.$store.dispatch('city/load').finally(
        this.overlayHide()
      )
      this.$refs.cityTable.toggleTab()
      this.$nextTick(() => {
        this.formsContainer.new()
      })
    },
    onUpdateSuccess () {
      this.$toast.success('registro atualizado com sucesso!')

      this.overlayShow()
      this.$store.dispatch('city/load').then(() => {
        this.mainForm.editing = null
        this.$refs.cityTable.toggleTab()
        this.$nextTick(() => {
          this.formsContainer.new()
        })
      })
        .finally(() => {
          this.overlayHide()
        })
    },
    async changeStatus (c) {
      return globalThis.axios.post('dashboard/cities/change-status', {
        city_id: c.id,
        status: !c.status
      })
        .then(({ data }) => {
          if (data.success) {
            this.onUpdateSuccess()
          }
        })
        .catch(err => {
          console.log('erro no change status', err)
        })
    }
  }
}
</script>
