<template>
  <v-row>
    <v-col class="cols-12 col-sm-12">
      <z-field
        v-bind="form.fields.google_schedule"
      />
    </v-col>
    <v-col class="cols-12 col-sm-12">
      <z-field
        v-bind="form.fields.google_maps"
      />
    </v-col>
  </v-row>
</template>
<script>
import ZVirtualForm from '~/classes/ZVirtualForm'
import ZField from '~/classes/ZField'
// import ZSelect from '~/classes/ZSelect'

export default {
  data: () => ({
    form: null
  }),
  computed: {
  },
  created () {
    this.form = new ZVirtualForm({
      // autoIndex: true,
      fields: {
        google_schedule: new ZField({
          label: 'Embed do google Agenda',
          cType: 'v-textarea',
          clearable: true,
          rows: 2,
          noResize: true,
          required: false,
          observer (t, v) {
            this.set(globalThis._.trim(v)
              .replace(/width="[^/"]*"/, 'width="100%"')
              .replace(/height="[^/"]*"/, 'height="600"'))
          }
        }),
        google_maps: new ZField({
          label: 'Embed do google maps',
          cType: 'v-textarea',
          clearable: true,
          rows: 2,
          noResize: true,
          observer (t, v) {
            this.set(globalThis._.trim(v)
              .replace(/width="[^/"]*"/, 'width="100%"')
              .replace(/height="[^/"]*"/, 'height="600"'))
          }
        })
      }
    })
  },
  methods: {

  }
}
</script>
