<template>
  <v-container>
    <z-scroll-table
      storage-id="zCityTable"
      :headers="headers"
      :rows.sync="rows"
      key-field="id"
      :filters="filters"
      v-bind="$attrs"
      v-on="$listeners"
    >
      <template
        #row="{item,data}"
      >
        <z-scroll-table-row
          :item="item"
          :data="data"
          :buttons="buttons"
          v-on="itemListeners"
          @on-change-status-action="changeStatus"
        >
          <z-col>
            <span>{{ item.id }}</span>
          </z-col>
          <z-col>
            <z-switch-btn
              v-bind="Object.assign({},btns.status,{
                value:item.status
              })"
            />
          </z-col>
          <z-col>
            <span>{{ item.name }}</span>
          </z-col>
          <z-col>
            <z-switch-btn
              v-if="item.mobile && item.mobile.whatsapp"
              v-bind="Object.assign({},btns.whatsapp,{
                value:false
              })"
            />
          </z-col>
          <z-col>
            <span>
              {{ item.mobile && item.mobile.value }}
            </span>
          </z-col>
          <z-col>
            <span>{{ item.email }}</span>
          </z-col>
          <z-col>
            <z-humanized-date :date="item.updated_at" />
          </z-col>
        </z-scroll-table-row>
      </template>
    </z-scroll-table>
  </v-container>
</template>

<script>
import BaseTable from '~/mixins/BaseTable'
import { mapState } from 'vuex' // mapGetters

export default {
  name: 'CityTable',
  mixins: [BaseTable],
  data () {
    return {
      filters: {
        keyword: {
          value: '',
          index: ['name', 'email'],
          hint: 'pressione enter para filtrar',
          method: this.inputFilter
        }
      },
      btns: {
        status: {
          true: {
            icon: 'task_alt',
            color: 'green',
            label: 'ativo'
          },
          false: {
            icon: 'error_outline',
            color: 'orange',
            label: 'pendente'
          }
        },
        whatsapp: {
          icon: 'z-whatsapp',
          color: 'green',
          label: 'whatsapp'
        }
      }
    }
  },
  computed: {
    ...mapState({
      list: (state) => {
        return state.city.list
      }
    }),
    headers () {
      return [
        {
          text: '#',
          tooltip: 'ID',
          value: 'id',
          width: '5%',
          type: Number,
          align: 'center',
          orderable: true
        },
        {
          text: 'S',
          tooltip: 'Status',
          value: 'status',
          align: 'center',
          width: '5%',
          type: Boolean,
          orderable: true
        },
        {
          text: 'name',
          value: 'name',
          width: 'auto',
          orderable: true
        },
        {
          text: 'W',
          value: 'mobile.value',
          width: '5%'
        },
        {
          text: 'celular',
          value: 'mobile',
          width: '15%'
        },
        {
          text: 'email',
          value: 'email',
          width: '30%'
        },
        {
          text: 'Atualizado',
          value: 'updated_at',
          width: '15%',
          align: 'center',
          type: Date,
          orderable: true
        },
        { text: '', value: 'actions', width: '5%' }
      ]
      // .filter(el => {
      //   return true
      // })
    },
    buttons () {
      return {
        edit: true,
        teste: {
          order: 0,
          icon: (item) => this.btns.status[!item.status].icon,
          color: (item) => this.btns.status[!item.status].color,
          title: function (item) {
            return item.status ? 'Desativar' : 'Ativar'
          },
          class: '',
          disabled: false,
          disableFilter: function () {
            return false
          },
          visible: true,
          confirm: {
            status: false,
            text: null,
            icon: 'help_outline',
            color: 'red'
          },
          tip: {},
          filter: function () {
            return true
          },
          action: 'change-status'
        }
      }
    }
  },
  methods: {
    changeStatus (s) {
      this.$emit('change-status', s)
    }
  }
}
</script>
